
@import "bootstrap";

#logo {
	float: left;
	font-size: 1em;
	color: blue;
	text-transform: uppercase;
	letter-spacing: -1px;
	font-weight: bold;
}

#logo:hover {
	color: red;
	text-decoration: none;
}

.jumbotron {
	background-image: asset-url('new_cover_page.png');
}

.bg-none {
	background-image: none;
}

.jumbotron h1{
	color: #fff;
	letter-spacing: -1px;
	font-weight: bold;
}

footer {
	padding-top: 5px;
	border-top: 1px solid #eaeaea;
	color: #fff;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    text-align: center;	
}

footer a:hover {
	color: #222;
}

footer small {
	float: left;
}

footer ul {
	float: right;
	list-style: none;
}

footer ul li {
	float: left;
	margin-left: 15px;
}