
@import "bootstrap";

#logo {
	float: left;
	font-size: 1em;
	color: blue;
	text-transform: uppercase;
	letter-spacing: -1px;
	font-weight: bold;
}

#logo:hover {
	color: red;
	text-decoration: none;
}

.jumbotron {
	background-image: asset-url('new_cover_page.png');
}

.bg-none {
	background-image: none;
}

.jumbotron h1{
	color: #fff;
	letter-spacing: -1px;
	font-weight: bold;
}

footer {
	padding-top: 10px;
	border-top: 1px solid #eaeaea;
	color: #fff;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    text-align: center;	
}

footer a:hover {
	color: #222;
}

footer small {
	float: left;
}

footer ul {
	float: right;
	list-style: none;
}

footer ul li {
	float: left;
	margin-left: 15px;
}


//-------------- Scaffold ----------------------------

.field_with_errors {
  padding: 2px;
  input, textarea {
    border-color: red
  }  
}

#error_explanation {
  border: 1px solid red;
  padding: 7px 7px 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  border-radius: 4px;

  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px -7px 0;
    background-color: #c00;
    color: #fff;
  }

  ul li {
    font-size: 12px;
    list-style: square;
  }
}

label {
  display: block;
}

//-------------- End Scaffold ----------------------------